.website-link:hover .website {
    color: #fff;
}

.link-wrapper::before {
    content: url("../../assets/workLink.svg");
    position: absolute;
    bottom: 0;
    left: 0;

    transform: translate(-15px, 20px);

    transition: .3s ease;

    opacity: 0;
    visibility: hidden;
}

.link-wrapper:hover .link-img {
    transform: translate(15px, -15px);
    opacity: 0;
    visibility: hidden;
}

.link-wrapper:hover::before {
    opacity: 1;
    visibility: visible;
    transform: translate(16px, -10px);
}

.works-list li:last-child {
    width: 40rem;
    grid-column: span 2;
    justify-self: center;
}