.hero-main:first-child {
    background-image: url(./../../../assets/home-bg.png);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.hero-main:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(./../../../assets/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.55;
}

@media screen and (max-width: 960px) {
    .hero-main:first-child {
        background: none;
    }

    .hero-main:first-child::before {
        display: none;
    }
}