.hero-main:first-child {
    background-image: url(./../../../assets/home-bg.svg);
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
}

.hero-main:first-child::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: url(./../../../assets/bg.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.55;
}

/* .carousel {
    position: relative;
    animation: carousel 16s linear infinite;
}

@keyframes carousel {
    100% {
        transform: translateX(-1260px);
    }
} */