.header:hover > .title {
    color: #E6E6E6;
}

.service-list:hover > .title {
    color: #E6E6E6;
}

.service-card {
    position: relative;
}

.service-card:hover::before {
    opacity: 1;
}

.service-card::before,
.service-card::after {
    border-radius: inherit;
    content: "";
    height: 100%;
    left: 0px;
    opacity: 0;
    position: absolute;
    top: 0px;
    transition: opacity 350ms;
    width: 100%;
}

.service-card::before {
    background: radial-gradient(
        650px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.06),
        transparent 40%
      );
      z-index: 3;
}

.service-card::after {
    background: radial-gradient(
        600px circle at var(--mouse-x) var(--mouse-y), 
        rgba(255, 255, 255, 0.4),
        transparent 40%
      );
      z-index: 1;
}

.service-card > .service-card-content {
    flex-grow: 1;
    inset: 1px;
    position: absolute;
    z-index: 2;
}